@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-blink {
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: blink 1s infinite;
}
